<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script defer src="https://kit.fontawesome.com/a012878c4d.js" crossorigin="anonymous"></script>
    <title>Paramedic Wellbeing</title>
</head>

<body>

    <!--Navbar using bootstrap-->
    <nav class="navbar navbar-expand-lg navbar-light nav-background">
        <a class="navbar-brand" href="{{ url_for ('index') }}">Paramedic</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{{ url_for ('index') }}">
                    <h4>Home</h4> <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">
                    <h4>About</h4>
                </a>
                <a class="nav-item nav-link" href="#">
                    <h4>Links</h4>
                </a>
                {% if session.user %}
                <a class="nav-item nav-link" href="{{ url_for ('profile', username=session['user']) }}" id="userInfo">
                    <h4>My Profile</h4>
                </a>
                <a class="nav-item nav-link" href="{{ url_for ('logout') }}">
                    <h4>Logout</h4>
                </a>
                {% else %}
                <a class="nav-item nav-link" href="{{ url_for ('signUp') }}">
                    <h4>Sign Up</h4>
                </a>
                <a class="nav-item nav-link" href="{{ url_for ('login') }}">
                    <h4>Login</h4>
                </a>
                {% endif %}
            </div>
        </div>
    </nav>
    <section class="section-1">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h1 class="push-down">Paramedic Wellbeing</h1>
            </div>
        </div>
    </section>

    <section class="section-2">
        {% if session.user %}
            {% if today %}
            <div class="row">
                <p>You have already selected your feelings today</p>
            </div>
            {% else %}
        <div class="row">
            <div class="col-12 d-flex justify-content-center button-container">
                <form action="{{ url_for ('happier') }}" method="POST">
                <button type="submit" class="button-style button-st" id="happier-button"><i class="fas fa-smile-beam font-custom"></i></button>
                </form>
                <form action="{{ url_for ('happy') }}" method="POST">
                <button type="submit" class="button-style button-st" id="happy-button" name="happy-button" value="happy-button"><i class="fas fa-smile font-custom"></i></button>
                </form>
                <form action="{{ url_for ('meh') }}" method="POST">
                <button type="submit" class="button-style button-st" id="meh-button" name="meh-button" value="meh-button"><i class="fas fa-meh font-custom"></i></button>
                </form>
                <form action="{{ url_for ('sad') }}" method="POST">
                <button type="submit" class="button-style button-st" id="sad-button" name="sad-button" value="sad-button"><i class="fas fa-frown font-custom"></i></button>
                </form>
                <form action="{{ url_for ('sadder') }}" method="POST">
                <button type="submit" class="button-style button-st" id="sadder-button" name="sadder-button" value="sadder-button"><i class="fas fa-frown-open font-custom"></i></button>
                </form>
            </div>
        </div>
            {% endif %}
        {% else %}
        <div class="row d-flex justify-content-center align-items-center custom-row">
            <a href="{{ url_for ('signUp') }}" ><button class = "custom-button ">Sign Up</button></a>
            <a href="{{ url_for ('login') }}"><button class = "custom-button ">Login</button></a>
        </div>
        {% endif %}
    </section>

    <section class="section-3">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="message-box face-hide" id="message">

                </div>
            </div>
        </div>
    </section>

</body>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src= "{{ url_for('static', filename='js/script.js') }}" type="text/javascript"></script>

</html>